/* My Custom CSS */

/* google font */
@importurl('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

nav {
    margin-top: 1.5em;
}

navlogo {
    float:left;
}

ul {
    list-style-type: none;
    column-gap: 10px;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color:#FFD6E2;
    display:inline-flex;
    text-align: center;
}

li a {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-style: normal;
    border-radius: 25px;
    background-color: floralwhite;
    color:#FC356D;
    display:inline-flex;
    padding: 14px; 16px;    
}

ul li a:hover {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-style: italic;
    border-radius: 25px;
    background-color:floralwhite;
    border: 2px solid #FC356D;
    color: #FC356D;
    text-decoration: none;
}

body {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #FFD6E2;
    color:#95416E;
    padding: 25px;
}

row {
    padding: 15px;
    height: 300px;
    width: 100%;
}

col {
    width: 100%;
}

footer {
    color: black;
    background-image: url(Graphics/702MarketGradient@4x.png);
    background-attachment: fixed;
    background-size: 100% 100%;
}

h1 {    
    padding: 25px;
    text-align: center;
}

h6 {
    font-family: "Nunito", sans-serif;
    font-weight:200;
    font-style: italic;
    color: black;
}

button {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-style: normal;
    border-radius: 25px;
    background-color: floralwhite;
    color:#FC356D;
    display:inline-flex;
    padding: 14px; 16px;
}
